@import "reset.css";
@import "course.css";
@import "redux.css";

body {
  font-family: "Courier New", Courier, monospace;
}

.page {
  display: grid;
  align-content: center;
  gap: 60px;
  width: 100%;
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.titles {
  font-size: 1.5rem;
  width: 100%;
}

@media (width <= 800px) {
  .page {
    max-width: 100%;
    padding: 40px;
  }
}

@media (width <= 700px) {
  .page {
    padding: 20px;
    align-content: flex-start;
  }
}
